[package]
name = "saturn-v-check"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
saturn-v-ir.workspace = true
z3.workspace = true
