[package]
name = "saturn-v-check"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
saturn-v-ir.workspace = true
z3 = "0.12"
z3-sys = "0.8"
