name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  PACKAGE_NAME: "saturn-v"

jobs:
  release-build:
    name: Build and package
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build_tool: cargo

          - runner: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            build_tool: cross

          - runner: ubuntu-latest
            target: x86_64-unknown-linux-musl
            build_tool: cargo

          - runner: ubuntu-latest
            target: aarch64-unknown-linux-musl
            build_tool: cross

          - runner: macos-latest
            target: x86_64-apple-darwin
            build_tool: cargo

          - runner: windows-latest
            target: x86_64-pc-windows-msvc
            build_tool: cargo

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          target: ${{ matrix.target }}

      - name: Setup Just
        uses: taiki-e/install-action@v2
        with:
          tool: just

      - name: Setup Cross
        uses: taiki-e/install-action@v2
        if: ${{ matrix.build_tool == 'cross' }}
        with:
          tool: cross

      - name: Build
        shell: bash
        run: |
          set -euo pipefail
          export TARGET=${{ matrix.target }}
          export CARGO=${{ matrix.build_tool }}
          just release-cli

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.package.outputs.artifact_name }}
          path: ${{ steps.package.outputs.artifact }}

  release-bsd:
    name: BSD builds
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: openbsd
            architecture: x86-64
            version: '7.8'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Build
        uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: ${{ matrix.os }}
          architecture: ${{ matrix.architecture }}
          version: ${{ matrix.version }}
          memory: 16G # differential dataflow
          sync_files: true
          run: |
            uname -a
            echo $SHELL
            pwd
            ls -lah
            whoami
            sudo pkg_add git just rust
            just release-cli

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.package.outputs.artifact_name }}
          path: ${{ steps.package.outputs.artifact }}

  release-wasm:
    name: WebAssembly packages
    uses: ./.github/workflows/wasm.yml
    with:
      version: ${{ github.ref_name }}

  release-vscode:
    name: VSCode extension
    uses: ./.github/workflows/vscode.yml
    with:
      version: ${{ github.ref_name }}

  release-publish:
    name: Create draft release and upload assets
    needs:
      - release-build
      - release-bsd
      - release-vscode
      - release-wasm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Create draft release and upload assets
        id: ghrel
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/**
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: "Automated release from GitHub Actions"
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

