name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  PACKAGE_NAME: "saturn-v"

jobs:
  release-build:
    name: Build and package
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            cargo_build: cargo build

          - runner: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            cargo_build: cargo zigbuild

          - runner: ubuntu-latest
            target: x86_64-unknown-linux-musl
            cargo_build: cargo zigbuild

          - runner: ubuntu-latest
            target: aarch64-unknown-linux-musl
            cargo_build: cargo zigbuild

          - runner: macos-latest
            target: x86_64-apple-darwin
            cargo_build: cargo build

          - runner: ubuntu-latest
            target: x86_64-pc-windows-gnu
            cargo_build: cargo zigbuild

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target }}

      - name: Setup Just
        uses: taiki-e/install-action@v2
        with:
          tool: just

      - name: Setup Cross
        uses: taiki-e/install-action@v2
        if: ${{ matrix.cargo_build == 'cross build' }}
        with:
          tool: cross

      - name: Install Zig
        uses: mlugg/setup-zig@v2
        if: ${{ matrix.cargo_build == 'cargo zigbuild' }}

      - name: Setup cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ matrix.cargo_build == 'cargo zigbuild' }}
        with:
          tool: cargo-zigbuild

      - name: Install Clang for Ubuntu
        if: ${{ contains(matrix.runner, 'ubuntu' )}}
        run: sudo apt-get install clang

      - name: Install musl-tools
        if: ${{ contains(matrix.target, 'musl' )}}
        run: sudo apt-get install musl-tools

      - name: Install aarch64 cross libraries
        if: ${{ contains(matrix.target, 'aarch64' )}}
        run: sudo apt-get install g++-aarch64-linux-gnu libc6-dev-arm64-cross linux-libc-dev-arm64-cross

      - name: Install Windows GNU cross libraries
        if: ${{ contains(matrix.target, 'windows-gnu' ) && matrix.runner == 'ubuntu-latest' }}
        run: sudo apt-get install g++-mingw-w64-x86-64 binutils-mingw-w64-x86-64

      - name: Install Clang for Windows
        if: ${{ contains(matrix.runner, 'windows') }}
        uses: egor-tensin/setup-clang@v2

      - name: Build
        id: build
        run: just release-cli
        env:
          TARGET: ${{ matrix.target }}
          CARGO_BUILD: ${{ matrix.cargo_build }}
          CC: clang
          CXX: clang++

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.artifact_name }}
          path: ${{ steps.build.outputs.artifact }}

  release-openbsd:
    name: OpenBSD build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Build
        id: build
        uses: vmactions/openbsd-vm@v1
        with:
          mem: 12288
          prepare: pkg_add llvm-19.1.7p9 git just rust
          run: LIBCLANG_PATH=/usr/local/llvm19/lib just release-cli

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build.outputs.artifact_name }}
          path: ${{ steps.build.outputs.artifact }}

  release-wasm:
    name: WebAssembly packages
    uses: ./.github/workflows/wasm.yml
    with:
      version: ${{ github.ref_name }}

  release-vscode:
    name: VSCode extension
    uses: ./.github/workflows/vscode.yml
    with:
      version: ${{ github.ref_name }}

  release-publish:
    name: Create draft release and upload assets
    needs:
      - release-build
      - release-openbsd
      - release-vscode
      - release-wasm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts
          merge-multiple: true

      - name: Create draft release and upload assets
        id: ghrel
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/**
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: "Automated release from GitHub Actions"
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

