name: WebAssembly Builds
on: workflow_call

jobs:
  build:
    name: Build WebAssembly
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate:
          - client
        target:
          - nodejs
          - bundler
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Setup Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        override: true

    - name: Install wasm-pack
      run: npm install -g wasm-pack

    - name: Build
      run: wasm-pack build crates/${{ matrix.crate }} --release --target ${{ matrix.target }} --out-dir ./pkg --name saturn-v-${{ matrix.crate }}-${{ matrix.target }}

    - name: Package
      run: wasm-pack pack crates/${{ matrix.crate }} --pkg-dir ./pkg

    - name: Upload package artifact
      uses: actions/upload-artifact@v6
      with:
        path: pkg/*.tgz
